:root {
  --white:hsl(0, 0%, 100%);
  --lightGrey:hsl(0, 0%, 55%);
  --black: hsl(0, 0%, 0%);
}
@font-face {
  font-family: 'Alata';
  src: url('https://fonts.google.com/specimen/Alata');
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('https://fonts.google.com/specimen/Josefin+Sans');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Josefin Sans';
}
/***********************************Header**********************************************/
.header{
  width: 100%;
  height: 100vh;
  background-image: url('/public/images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5%;
}
#header{
  display: flex;
  flex-direction: row;
  gap: 40%;
}
nav{
  display: flex;
  flex-direction: row;
  font-family: 'Josefin Sans', sans-serif;
}
nav > a{
  margin-left: 10%;
  text-decoration: none;
  color: var(--white);
}
nav > a:hover{
  text-decoration: underline;
  transition: 0.02ms;
}
.logoH{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  margin-left: 7%;
  margin-bottom: 12px;
  cursor: pointer;
  color: var(--white);
  font-weight: 600;
}
.descText{
  width: 45vw;
  height: 40vh;
  border: 1px solid  var(--white);
  margin-left: 7%;
  margin-top: 9%;
  padding: 2%;
}
.descText > p{
  font-family: 'Alata',sans-serif;
  color: var(--white);
  font-size: 4em;
}
/***************************************************************************************/
/**************************************Main*********************************************/
.topic{
  width: 100%;
  height: 80vh;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  
}
.descTopic{
  position: relative;
  z-index: 1;
  top: 200px;
  right: 200px;
  width: 50%;
  height: 50%;
  background-color: var(--white);
  padding: 5%;
  font-family: 'Alata',sans-serif;
}
.h2{
 font-size: 2em;
}
.text{
  font-size: 12px;
  line-height: 1.5em;
  color: var(--lightGrey);
  margin-top: 5%;
}
.imgTopic{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  margin-left: 5%;
}
.imgTopic > img{
  height: 75%;
  
}
.creations{
  display: flex;
  flex-direction: column;
  padding: 10%;
  position: relative;
  top: -30px;
}
#creation{
  display: flex;
  flex-direction: row;
  gap:60%;
  position: relative;
  top: -50px;
}
#creation >p{
  font-size: 2em;
  font-family: 'Alata',sans-serif;
}
.button >button {
  background-color: var(--black);
  width: 120px;
  height: 30px;
  color: var(--white);
  border: none;
 font-size: 10px;
 font-family: 'Josefin Sans', sans-serif;
 cursor: pointer;
}
.button >button:hover{
  background-color: var(--white);
  color: var(--black);
  transition: 4ms ease-in-out;
  border: 1px solid var(--black);
}
.grid{
display: grid;
grid-template-areas: "a b c d"
                      "e f g h";
column-gap: 20px; 
row-gap: 20px;               
}
.lbl{
  color: var(--white);
  position: relative;
  top: -120px;
  left: 30px;
  text-wrap: wrap;
  z-index: 1;
  width: 150px;
  font-family: 'Alata', sans-serif;
  font-size: 1.9em;
 
}
.div_lbl{
  position: absolute;
  color: white;
  z-index: 1;
  
}
/****************************************footer*****************************************/
.footer{
  background-color: var(--black);
  position: relative;
  height: 20vh;
  display: flex;
  flex-direction: row;
  gap: 60%;
  padding-top: 2.5%;
  font-size: 14px;
}
#navFooter > a{
  margin-left: 3%;
  text-decoration: none;
  color: var(--black);
}
.leftFoot{
 display: flex;
 flex-direction: column;
 gap: 2%;
 margin-left: 4%;
} 
.rightFoot > img{
 margin-left: 12px;
}
.rightFoot > img{
  margin-bottom: 20px;
 }
.copy{
  color: var(--lightGrey);
  margin-left: -65px;
}
/***************************************************************************************/
.imgb{
  width: 10%;
  height: 20%;
}
.b{
  width: 30%;
  height: 30%;
}
 